<section class="w-75 bg-light p-5 rounded-2 mx-auto">
    <form [formGroup]="forgetPassword" (ngSubmit)="handleForm()">
        <h1>Please enter your Verification Email</h1>
        <input type="email" name="email" placeholder="Email" class="form-control" formControlName="email">
        <div class="alert alert-danger" *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched">
            <p *ngIf="forgetPassword.get('email')?.getError('required')">Email must be required</p>
            <p *ngIf="forgetPassword.get('email')?.getError('email')">Enter valid Email</p>
        </div>
        <button class="btn btn-outline-success mt-2">Verify</button>
        <div class="alert alert-danger" *ngIf="errorEmail">
            <p>{{errorEmail}}</p>
        </div>
      
    </form>
</section>
