<section class="w-75 mx-auto">
    <form [formGroup]="resetForm" (ngSubmit)="handleForm()">
        <h1>reset your account password</h1>
        <input type="email" name="email" class="form-control my-3" placeholder="email" formControlName="email">
        <div class="alert alert-danger" *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
            <p *ngIf="resetForm.get('email')?.getError('required')">Email is Required</p>
            <p *ngIf="resetForm.get('email')?.getError('email')">please insert valid Email</p>
        </div>
        <input type="password" name="password" class="form-control my-3" placeholder="password" formControlName="newPassword">
        <div class="alert alert-danger" *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
            <p *ngIf="resetForm.get('newPassword')?.getError('required')">newPassword is Required</p>
            <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">please insert valid password <mark>(ex : M123456)</mark></p>
        </div>
        <button class="btn btn-outline-success">reset password</button>
        <p class="alert alert-danger" *ngIf="errorServerMSG">{{errorServerMSG}}</p>

    </form>
</section>
